body {
  background-color: green;
  border: 3px solid gray;
  padding: 5px;
}
button {
  width: 80px;
  height: 55px;
}
.card {
  width: 125px;
  height: 200px;
  margin-top: 10px;
}

.table {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 4px solid rgb(217, 179, 179);
}
